{% extends "base.html.twig" %}
{% block body %}
	<div class="row">
		<div class="col-sm-12">
			<h3>Liste des DPS
				<span>
					<a class="btn btn-primary btn-sm pull-right" href="{{ path('event-edit') }}">Ajouter</a>
				</span>
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			{{ grid(grid, 'grid/grid.html.twig', 'home') }}
		</div>
	</div>
{% endblock %}
